{{ attach_library(active_theme()~'/card') }}

{% if rows %}

{% include active_theme_path() ~ '/templates/component/navigation/cardlayout/cardlayout.html.twig' %}
<section{{ attributes.addClass('L','LW-4', 'LW--nooverflow', 'w-12', 'js-card-layout-target') }}>

  {% for row in rows %}
    <article {{ row.attributes.addClass('w', 'card') }}>

      <h3 class="card__title card__title--icon card__title--icon-admin-structure-contact">{{ row.cells.form.content  }}</h3>
      <b>{{ row.cells.recipients.content }}</b>

      <p class="card__text">
        {{ row.cells.form.content }}
        selected:? {{ row.cells.selected.content }}
      </p>

      <div class="card__operations">
        {{ row.cells.operations.content }}
      </div>

    </article>
  {% endfor %}
{% endif %}
