{{ attach_library('eleven/form.form') }}

{% if element['#title'].getUntranslatedString() %}
  {% set element_name = element['#title'].getUntranslatedString()|clean_class %}
{% else %}
  {% set element_name = element['#title']|clean_class %}
{% endif %}

{%
  set classes = [
    'form-item',
    'form-item--' ~ type|clean_class ,
    element['#type'] == 'select' ? 'form-item--inline' ,
    element['#multiple'] ? 'form-item--select-multiple'  ,
    errors ? 'form-item--error',
    disabled == 'disabled' ? 'form-item--disabled',
    'js-form-item',
    'js-form-type-' ~ type|clean_class,
    'js-form-item-' ~ name|clean_class,
  ]
%}
{%
  set description_classes = [
    'form-item__description',
    description_display == 'invisible' ? 'visually-hidden',
  ]
%}

{# {{ element_name }}  #}

<div{{ attributes.addClass(classes).removeAttribute('id') }}>

  {% block formItemIcon %}
  {% endblock %}

  {# label before/invisble #}
  {% if label_display in ['before', 'invisible'] %}
    {{ label }}
  {% endif %}

  {# prefix #}
  {% if prefix is not empty %}
    <span class="form-item__prefix">{{ prefix }}</span>
  {% endif %}

  {# children = the content of a field. #}
  {% if type == "item" %}
    <div class="form-item__value">
      {{ children }}
    </div>
  {% else %}
    {{ children }}
  {% endif %}

  {# description before #}
  {% if description.content %}
    <div{{ description.attributes.addclass(description_classes).removeAttribute('id') }}>
      {{ description.content }}
    </div>
  {% endif %}

  {# suffix #}
  {% if suffix is not empty %}
    <span class="form-item__suffix">{{ suffix }}</span>
  {% endif %}

  {# label after #}
  {% if label_display == 'after' %}
    {{ label }}
  {% endif %}

  {# errors #}
  {% if errors %}
    <div class="form-item__error">
      {{ errors }}
    </div>
  {% endif %}

</div>
