{{ attach_library(active_theme()~'/card.layout') }}
{{ attach_library(active_theme()~'/nav.tabs.icon') }}

<nav class="tabs-icon ">
  <ul class="L-right pagewidth">
    <li><a href="#" class="js-hide-cardtext hide-cardtext" data-helptext="{{'Hide help text'|t}}">{{'Hide help text'|t}}</a></li>

  {% for i in range(3, 6) %}

    <li><a href="#" class="js-cardlayout cardlayout {% if i == 4 %}is-active {% endif %} " data-layout="{{ i }}" data-helptext="Layout {{ i }} columns"> {{ i }}</a></li>
  {% endfor %}

  </ul>
</nav>
