{#
fields tables layout
 #}
{{ attach_library('eleven/card') }}


{% if rows %}

<section>

  {% for row in rows %}
  <article {{ row.attributes.addClass('card') }}>

    <div class="card__icon card__icon--fieldtype card__icon--fieldtype-{{ row.cells.field_type.content['#title'].getUntranslatedString()|clean_class}}"></div>

    <h3 class="card__title">{{ row.cells.type.content}}</h3>
    <p class="card__text">
      {{ row.cells.description.content}}<br>
    </p>
    </a>

    <div class="card__operations L-center">
      {{ row.cells.operations.content }}
    </div>


  </article>
  {% endfor %}
</section>
{% else %}
{{ 'no fields defined'|t }}
{% endif %}
