{#
  admin overview pages:

  admin/
  admin/index
  admin/structure
  admin/reports
  admin/config

  admin/index
#}
{{ attach_library(active_theme()~'/card') }}

{# test if this is the admin index or config page #}
{% set test = [
  '/admin/index',
  '/admin/config',
  ]
%}

{% if path not in test  %}
  {%
    set classes = [
      'L',
      'LW-third',
      'pagewidth'
    ]
  %}
  {# lets show a small change number of card  for the card layouts #}
  <div class="pagewidth L-right">
    <ul class="L-right tabs-small">
      <li><a href="#" class="">1</a> </li>
      <li><a href="#" class="">2</a> </li>
      <li><a href="#" class="">3</a> </li>
    </ul>
  </div>

  {% if content %}
    <section{{ attributes.addClass(classes) }}>

    {% for item in content %}
      <article class="w card {{ cardclasses }}">

        <a href="{{ item.url }}" class="L">
          <div class="w-3 card__icon card__icon--{{ item.url.getInternalPath()|clean_class }}"></div>
          <h3 class="w-9 card__title">{{ item.title}}</h3>

            <p class="w-12 card__text">
              {{ item.description }}
            </p>

        </a>
      </article>
    {% endfor %}

    </section>
  {% endif %}

{% else %}

  {# contents thats wrapped in the  admin-block: config/admin-block.html.twig
    http://drupal8.dev/admin/config
    http://drupal8.dev/admin/index
  #}

  {% if content %}
    <ul class="card__subelements">
    {% for item in content %}
        <li>
          <a href="{{ item.url }}" class="card__subelement">
            <div class="card__subelement-text">
              <h4 class="card__subelements-title">{{ item.title}}</h4>
              {% if item.description %}
                {{ item.description }}
              {% endif %}
            </div>
          </a>
          </li>

    {% endfor %}
  </ul>
  {% endif %}

{% endif %}
