{#
fields tables layout

 eleven_theme_suggestions_table_alter()
 #}
{{ attach_library(active_theme()~'/card') }}

{% if rows %}

<section class="L LW-4 pagewidth">
  {% for row in rows %}
  <article {{ row.attributes.addClass('w','card') }}>

    <h3 class="card__title card__title--icon card__title--icon-{{ row.cells.field_type.content['#title'].getUntranslatedString()|clean_class}}">
      <a href="/{{ row.cells.operations.content['#links'].edit.url.getInternalPath() }}">
        {{ row.cells.label.content}}
      </a>
    </h3>

    <p class="card__text">
      <strong>{{ 'machine name'|t }}: </strong>{{ row.cells.field_name.content}}<br>
      <strong>{{ 'field type'|t }}: </strong> {{ row.cells.field_type.content['#title']}}
    </p>

    <div class="card__operations">
      {{ row.cells.operations.content }}
    </div>

  </article>
  {% endfor %}
</section>
{% else %}
{{ 'no fields defined'|t }}
{% endif %}
