{#
template overwrite for tables layouts with translate

 eleven_theme_suggestions_table_alter()
 #}
{{ attach_library('eleven/card') }}

{% if rows %}

{% include themepath ~ '/templates/component/navigation/cardlayout/cardlayout.html.twig' %}
<section class="cards js-card-layout-target">


  {% for row in rows %}
  <article {{ row.attributes.addClass('card') }}>

    <a href="/{{ row.cells.1.content['#links'].edit.url.getInternalPath() }}">
      <div class="card__icon"></div>

      <h3 class="card__title">
        {{ row.cells.0.content['#markup']|striptags }}
      </h3>
      <p class="card__text">
      </p>
    </a>

    <div class="card__operations">
      {{ row.cells.1.content }}
    </div>

  </article>
  {% endfor %}
</section>

{% endif %}
