{{ attach_library(active_theme()~'/button') }}
{{ attach_library(active_theme()~'/form.form') }}

{% set classes = [

]
%}

{#
  implementing the worst cowboy trick ever for node edit submit buttons
  node/1/edit?destination=/admin/content
  {{ kint(attributes.value|render()|length ) }}
 #}


<span class="form-item--input">

  <input
  {{ attributes.
    removeClass(remove_classes).
    addClass(classes).
    removeAttribute('size')
  }}
  />{{ children }}

  <div class="form-item__icon form-item__icon--{{ input_type}}"></div>
</span>
