{# -----------------------------------------------------------------------------
  No guts no glory !!
----------------------------------------------------------------------------- #}
{{ attach_library(active_theme()~'/card') }}
{{ attach_library(active_theme()~'/permissions') }}
{{ attach_library(active_theme()~'/form.form') }}

<div{{ attributes }}>

{% if rows %}
  {% for row in rows %}
    {#
      2. we know that if theres only one cell then its the header for a group of permissions
      so we stop the aritcle.card tag and start another on so each group of permissions can be stacked into a card
    #}

    {% if row.cells|length == '1' %}
        {# this section tag is started  down after the .card__title  - yup not pretty but works#}
          </details>
          </section>
        <details open{{ row.attributes.addClass('permissions-' ~ row.cells.0.content['#markup']|clean_class|clean_class, classes)}}>
    {% endif %}

    {% for cell in row.cells %}
      {# if we got an id then this is a single card so add in title and icon #}
      {% if cell.attributes.id %}
        {# <div class="card__icon card__icon--{{ cell.content['#markup']|clean_class }}" id="{{ cell.attributes.id }}"></div> #}
        <summary id="{{ cell.attributes.id }}">{{ cell.content['#markup']}}</summary>
        <section class="L LW-4">
      {% endif %}

      {# drupal renders the permissions as inline templetes we can test on stuff #}
      {% if cell.content['#type'] == 'inline_template' %}

        {# sub group title #}
        {% if cell.content['#context'].title %}
          <div class="card w {% if cell.content['#context'].warning %}permission--warning{% endif %}">
            <div class="card__icon card__icon--small"></div>
            <h4 class="card__title ">{{ cell.content['#context'].title|striptags }}</h4>

        {% endif %}

          {# warning #}
          {% if cell.content['#context'].warning %}
            <div class="messages messages--warning">
              {{ cell.content['#context'].warning }}
            </div>
          {% endif %}

        {# checkboxes #}
        {% elseif cell.content['#type'] == 'checkbox' %}

          {% if loop.index == "2" %}
            <div class="chexboxes chexboxes--count-{{ loop.index }}">
          {% endif %}

          {{ cell.content }}
          {% if loop.last %}
            {# the section tag is wrapping all of the checkboxes for a single group #}
            </div>
          </div>
          {% endif %}
        {% endif %}
        {# / checkboxes #}

    {% endfor %}

  {% endfor %}
{% endif %}
</div>
