{{ attach_library(active_theme()~'/table.admin') }}
{{ attach_library(active_theme()~'/table.responsive') }}
{{ attach_library(active_theme()~'/button') }}
{{ attach_library(active_theme()~'/permissions') }}


<table{{ attributes.addClass(classes) }}>

  {% if caption %}
    <caption>{{ caption }}</caption>
  {% endif %}

  {% if header %}
    <thead>
      <tr>
        {% for cell in header %}
          {%
            set cell_classes = [
              cell.active_table_sort ? 'is-active',
            ]
          %}

          <{{ cell.tag }}{{ cell.attributes.addClass(cell_classes) }}>
            {% if loop.index == 1%}
              {{cell.content}}
            {% else %}

            <span data-helptext="{{cell.content}}" class="u-visible u-visible@sm u-visible@l u-visible@xl">
              {{ cell.content|slice(0,4) }}
            </span>
            <span class="u-visible u-visible@s">
            {{ cell.content }}
            </span>

            {% endif %}
          </{{ cell.tag }}>
        {% endfor %}
      </tr>
    </thead>
  {% endif %}

  {% if rows %}
    <tbody>
      {% for row in rows %}
        <tr{{ row.attributes }}>
          {% for cell in row.cells %}
            <{{ cell.tag }}{{ cell.attributes }}>

              {{- cell.content -}}
            </{{ cell.tag }}>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  {% elseif empty %}
    <tbody>
      <tr class="odd">
        <td colspan="{{ header_columns }}" class="empty message">{{ empty }}</td>
      </tr>
    </tbody>
  {% endif %}
  {% if footer %}
    <tfoot>
      {% for row in footer %}
        <tr{{ row.attributes }}>
          {% for cell in row.cells %}
            <{{ cell.tag }}{{ cell.attributes }}>
              {{- cell.content -}}
            </{{ cell.tag }}>
          {% endfor %}
        </tr>
      {% endfor %}
    </tfoot>
  {% endif %}
</table>
