{% if links -%}

  <nav class="card__links">

  <ul class="L-space width-{{ links|length}}">
    {%- for item in links -%}

      <li>
        {%- if item.link -%}

          {% if item.link['#title'].getUntranslatedString() == 'Set as default' %}
            <a href="{{ item.link['#url']}}" title="{{ item.link['#title']}}" class="theme-default">{{ 'Default'|t}}</a>
          {% elseif item.link['#title'].getUntranslatedString() == 'Uninstall' %}
            <a href="{{ item.link['#url']}}" title="{{ item.link['#title']}}" class="theme-uninstall">{{ 'Uninstall'|t}}  </a>
          {% elseif item.link['#title'].getUntranslatedString() == 'Settings' %}
            <a href="{{ item.link['#url']}}" title="{{ item.link['#title']}}" class="theme-settings">{{ 'Settings'|t }}  </a>
          {% elseif item.link['#title'].getUntranslatedString() == 'Install' %}
            <a href="{{ item.link['#url']}}" title="{{ item.link['#title']}}" class="theme-install"> {{ 'Install'|t }} </a>
          {% elseif item.link['#title'].getUntranslatedString() == 'Install and set as default' %}
          {#   <a href="{{ item.link['#url']}}" title="{{ item.link['#title']}}" class="theme-install-default">{{ 'Default'|t  }}</a> #}
          {% endif %}

        {%- else -%}
          {{ item.text }}
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>

{%- endif %}
