{{ attach_library('eleven/card') }}
{{ attach_library('eleven/themes') }}

{% for theme_group in theme_groups %}

<h2>{{ theme_group.title }}</h2>

{% include themepath ~ '/templates/component/navigation/cardlayout/cardlayout.html.twig' %}

<section{{ theme_group.attributes.addClass('cards', 'js-card-layout-target') }}>
{% for theme in theme_group.themes %}

  {%
    set theme_classes = [
    'card',
    'card--theme',
    ]
  %}

  <article{{ theme.attributes.addClass(theme_classes) }}>
    {%
      set theme_status = [
      theme_group.state == "installed" ? 'card__status--installed': 'card__status--notinstalled',
      theme.is_default ? 'card__status--themedefault',
      theme.is_admin ? 'card__status--themeadmin',
      ]
    %}
    <div class="card__status {% for item in theme_status %}{{ item }} {% endfor %}"></div>

    {% if theme.screenshot %}
      <figure class="card__image">
        {{ theme.screenshot }}
      </figure>
    {% endif %}

    <h3 class="card__title">{{ theme.name }}</h3>

    {# Display operation links if the theme is compatible. #}
    {% if theme.incompatible %}
      <div class="theme__incompatible">{{ theme.incompatible }}</div>
    {% else %}
      {# template : links-apperance.html.twig #}
      <nav class="card__links">
      {{ theme.operations }}
      </nav>
    {% endif %}

    <details class="details-summary-link">
      <summary>{{ 'Theme information'|t }}</summary>

      <ul class="card__notes">
        {% if theme.version %}
        <li>{{ theme.version }}</li>
        {% endif %}
        {% if theme.notes %}
          <li><bold>{{ theme.notes|safe_join(' | ') }}</bold></li>
        {%- endif -%}
      </ul>

      <div class="card__text card__text--small">
        {# stop adding links n crap into the desctiption |striptags #}
        {{ theme.description }}
      </div>

    </details>


  </article>
  {% endfor %}
</section>
{% endfor %}
