{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}

{{ attach_library('eleven/views.exposed') }}
{{ attach_library('eleven/nav.tabs.icon') }}

<nav class="tabs-icon views-filter-layout">
  <ul>
    <li><a href="#" class="js-hide-filter hide-filter" data-helptext="{{'Toggle Filter'|t}}">
      <span class="visually-hidden">{{'Toggle Filter'|t}}</span>
  </a></li>
  </ul>
</nav>

<div class="views-filter form-item-smallvariant">
  {{ form }}
</div>
