{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}

{{ attach_library(active_theme()~'/views.exposed') }}
{{ attach_library(active_theme()~'/nav.tabs.icon') }}

<nav class="tabs-icon views-filter-layout">
  <ul class="L-right">
    <li><a href="#" class="js-hide-filter hide-filter" data-helptext="{{'Hide Filter'|t}}">{{'Hide Filter'|t}}</a></li>
    <li><a href="#" class="js-hide-actions hide-actions" data-helptext="{{'Hide Actions'|t}}">{{'Hide Actions'|t}}</a></li>
  </ul>
</nav>

<div class="views-filter L-space-bottom L--wrap form-item-smallvariant">
  {{ form }}
</div>
