{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
@TODO : lets make something fun n awesome here with a text etc that is translateable
with "out for coffe" etc sign

variables from theme.inc
$variables['logo'] = theme_get_setting('logo.url');
$variables['site_name'] = $site_config->get('name');
$variables['site_slogan'] = $site_config->get('slogan');

// Maintenance page and install page need page title in variable because there
// are no blocks.
$variables['title'] = $variables['page']['#title'];

#}

  <header role="banner">

    {% if logo %}
      <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
        <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
      </a>
    {% endif %}

    {% if site_name %}
     <h1 class="site-name">
       <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
     </h1>
    {% endif %}

    {% if site_slogan %}
      {{ site_slogan }}
    {% endif %}
  </header>

  <main role="main">
    {% if title %}
      <h1>{{ title }}</h1>
    {% endif %}

    {{ page.content }}
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}
