{#
avalible Variables:
{{ logged_in }}
{{ root_path }}
{{ node_type }}
{{ head_title }}
{{ db_offline }}
paths:
{{ root_path }} # first parth of the path : ex node, user
{{ active_theme_path() }} # ex: /theme/vanilla
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">

    {% include active_theme_path() ~ '/favicons/favicon.html.twig' %}

    {% if not root_path %}
      <title>{{ head_title|safe_join(' > ')|replace({'| ': ''}) }}</title>
    {% else %}
      <title>{{ head_title|safe_join(' | ') }}</title>
    {% endif %}
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>

  {%
    set body_classes = [
      db_offline ? 'offline',
      not root_path ? 'front' : 'not-front',
      'path-' ~ root_path|clean_class,
      'path-' ~ path|clean_class,
      systempath.4 == "view" ? 'admin-view',
      route == "system.404" ? 'error-404',
      route == "system.404" ? 'error-403',
    ]
  %}
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable"> {# link to main-content is in page.html.twig #}
      {{ 'Skip to main content'|t }}
    </a>

        {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
