{#
{{ base_path }} : The base URL path of the Drupal installation.
{{ is_front }}  : A flag indicating if the current page is the front page.
{{ logged_in }} : A flag indicating if the user is registered and signed in.
{{ is_admin }} : A flag indicating if the user has permission to access administration pages.
  <img src="{{ active_theme_path() }}/images/d8.png">
#}
{%
  set main_classes = [
    is_front ? '' : '',
    taxonomy ? '' : '',
    node.bundle ? 'type' ~ node.bundle|clean_class,
   ]
%}

<header class="L pagewidth" role="banner" aria-label="{{ 'Site header'|t }}">
  {% if page.header_first %}
    <div class="w-9 w-12@s">{{ page.header_first }}</div>
  {% endif %}
  {% if page.header_second %}
    <div class="w-3 w-12@s">{{ page.header_second }}</div>
  {% endif %}
</header>

{# navigation #}
{% if page.navigation %}
  {{ page.navigation }}
{% endif %}

<main role="main" id="main" class="pagewidth L">
  <a id="main-content" tabindex="-1"></a>

  {# pagetop #}
  {# local actions is always printed out into the the page.[region]  so yeah we have an empty div here ....  #}
  {% if page.top_first or page.top_second %}
    {% if page.top_first %}<div class="w-6 w-12@s">{{ page.top_first }}</div>{% endif %}
    {% if page.top_second %}<div class="w-6 w-12@s">{{ page.top_second }}</div>{% endif %}
  {% endif %}

  {# messages #}
  {% if page.messages %}
    <aside role="complementary"  class="L-center w-12">
      {{ page.messages }}
    </aside>
  {% endif %}

  {{ page.content }}
</main>

{# footer #}
<footer class="L pagewidth site-footer">
  {% if page.footer %}
    <div class="w-12">
      {{ page.footer }}
    </div>
  {% endif %}

  {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
    {% if page.header_first %}<div class="w-3 site-footer__first">{{ page.footer_first }}</div>{% endif %}
    {% if page.footer_second %}<div class="w-3 site-footer__second">{{ page.footer_second }}</div>{% endif %}
    {% if page.footer_third %}<div class="w-3 site-footer__third">{{ page.footer_third }}</div>{% endif %}
    {% if page.footer_fourth %}<div class="w-3 site-footer__fourth">{{ page.footer_fourth }}</div>{% endif %}
  {% endif %}

  {% if page.footer_bottom %}
    <div class="site-footer__bottom w-12">
      {{ page.footer_bottom }}
    </div>
  {% endif %}

<div class="github-issues">
  <a href="https://github.com/thememachine/eleven/issues" class="icon icon--github
  " data-helptext="Help eleven theme to become better for everybody">Found an issue ? Get Awesome points & report it - Then we can fix it</a>
</div>

</footer>
