{#
/**
 * @file
 * Theme override for basic administrative info about a View.
 *
 * Available variables:
 * - displays: List of displays.
 */
#}

<h3 class="card__title card__title--icon card__title--icon-views " data-drupal-selector="views-table-filter-text-source">
  {{ view.label }}
</h3>

  <div class="card__text">

  {% if displays %}
    <strong>{% trans %} Display {% plural displays %}  Displays{% endtrans %}:</strong>

    <ul class="card__list">
      {% for display in displays %}
        <li>{{ display }}</li>
      {% endfor %}
    </ul>
    {% else %}
      {{ 'None'|t }}
    {% endif %}

  <strong>{{ 'Machine name:'|t }}</strong>
  <ul class="card__list">
    <li>

      <span data-drupal-selector="views-table-filter-text-source">
      {{ view.id }}
      </span>
    </li>
  </li>

  </div>

<!-- <details class="details-summary-link">
    <summary>{{ 'Show info'|t }}</summary>
</details> -->
