{%
  set classes = [
    'usermenu',
  ]
%}

{{ attach_library('eleven/usermenu') }}

<nav role="navigation"
aria-labelledby="{{ attributes.id ~ '-menu'|clean_id }}"
{{ attributes.addClass(classes)|without('role', 'aria-labelledby','id') }}
>
  {# Label. If not displayed, we still provide it for screen readers. #}
  {% if not configuration.label_display %}
    {% set title_attributes = title_attributes.addClass('visually-hidden') %}
  {% endif %}
  {{ title_prefix }}
  <h2{{ title_attributes }}>{{ configuration.label }}</h2>
  {{ title_suffix }}


  <a href="" class="js-showusermenu">
  <span class="iconsvg iconsvg--s">
      {% include themepath ~ '/templates/component/navigation/usermenu/user.svg' %}
  </span>
  {{ user.getDisplayName }}
  </a>


  <div class="usermenu__content">
    {{ content }}
  </div>

</nav>
