{#
block--system-main-block.html.twig
this template is used as a wrapper for the main content
#}
{%
  set classes = [
    admin ? 'admincontent',
    admin ? 'pagewidth',
    nodeedit ? 'nodeeditwidth',
    'L',
    'pagewidth'
  ]
%}

{% if admin or nodeedit %}
  <section{{ attributes.addClass(classes).removeAttribute('id') }}>
  <h2 class="admincontent__title">{{ title }}</h2>
{% endif %}

{{ title_prefix }}
{% if label %}
  <h2{{ title_attributes.addClass('w-12') }}>{{ label }}</h2>
{% endif %}
{{ title_suffix }}

{% block content %}
  {{ content }}
{% endblock %}

{% if admin or nodeedit %}
  </section>
{% endif %}
