{#
block--system-main-block.html.twig
this template is used as a wrapper for the main content
#}
{%
  set classes = [
    admin ? 'admincontent',
    admin ? 'pagewidth',
    nodeedit ? 'nodeeditwidth',
    'L',
    'pagewidth'
  ]
%}

<section{{ attributes.addClass(classes).removeAttribute('id') }}>
<h2 class="admincontent__title">{{ title }}</h2>
{% if admin or nodeedit %}
{% endif %}

{{ title_prefix }}
{% if label %}
  <h2{{ title_attributes }}>{{ label }}</h2>
{% endif %}
{{ title_suffix }}



{% block content %}
  {{ content }}
{% endblock %}


</section>
{% if admin or nodeedit %}
{% endif %}
