{# remove the id from blocks #}

{%
  set classes = [
    'block',
    'block--' ~ plugin_id|clean_class
  ]
%}
<div{{ attributes.addClass(classes).removeAttribute('id') }}>

  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}

</div>
