{{ attach_library('eleven/card') }}
{{ attach_library('eleven/status.report') }}


<section class="cards">
{% for counter in counters %}

  {% if counters|length == 3 %}
    <article>
  {% elseif counters|length == 2 %}
    <article>
  {% endif %}

    {# status-report-counter.html.twig #}
    {{ counter }}
  </article>
{% endfor %}
</section>

{{ general_info }}

{{ requirements }}
