{%
  set classes = [
    'card',
    'system-status--' ~ severity,
  ]
%}
<article {{ attributes.addClass(classes) }}>
  <div class="card__icon card__icon--{{severity}}"></div>
    <a href="#{{ severity }}" ><strong>{{ amount }}</strong> {{ text }}</a>
  </span>
</article>
