  <h2>{{ 'General System Information'|t }}</h2>

  <section class="cards">
    {# Drupal version #}
    <article class="card w L">
      <div class="card__icon card__icon--drupal w-3"></div>
      <div class="w-9">
        <h3>{{ 'Drupal Version'|t }}</h3>
        <div class="card__text card__text--small">
          {{ drupal.value }}
          {{ drupal.description }}
        </div>
      </div>
    </article>

    {# php #}
    <article class="card">
      <div class="card__icon card__icon--php w-3"></div>
      <div class="w-9">
        <h3>{{ 'PHP'|t }}</h3>
        <div class="card__text card__text--small">
          <strong>{{ 'Version'|t }}</strong>
          {{ php.value }}
          {% if php.description %}

          <br>
            {{ php.description }}
          {% endif %}

          <br>
          <strong>{{ 'Memory limit'|t }}</strong>
          {{ php_memory_limit.value }}
          {{ php_memory_limit.description }}
        </div>
      </div>
    </article>

    {# webserver #}
    <article class="card w L">
      <div class="card__icon card__icon--webserver w-3"></div>
      <div class="w-9">
        <h3>{{ 'Web Server'|t }}</h3>
        <div class="card__text card__text--small">
        {{ webserver.value }}
        {% if webserver.description %}
          {{ webserver.description }}
        {% endif %}
        </div>
      </div>
    </article>

    {# DB #}
    <article class="card w L">
      <div class="card__icon card__icon--database w-3"></div>
      <div class="w-9">
        <h3>{{ 'Database'|t }}</h3>
        <div class="card__text card__text--small">
        {{ 'Version'|t }}
        {{ database_system_version.value }}
        <br>
        {% if database_system_version.description %}
          {{ database_system_version.description }}
        {% endif %}

        <strong>{{ 'System'|t }}</strong><br>
        {{ database_system.value }}
        {% if database_system.description %}
          {{ database_system.description }}
        {% endif %}
        </div>
      </div>
    </article>

    {# cron #}
    <article class="card w L">
      <div class="card__icon card__icon--cron w-3"></div>
      <div class="w-9">
        <h3>{{ 'Last Cron Run'|t }}</h3>
        <div class="card__text card__text--small">
        {{ cron.value }}
        <br>
        {% if cron.run_cron %}
          {{ cron.run_cron }}
        {% endif %}
        <br>
        {% if cron.description %}
          {{ cron.description }}
        {% endif %}
      </div>
      </div>
    </article>


</section>
