{{ attach_library('eleven/card') }}

{% if rows %}

{% include themepath ~ '/templates/component/navigation/cardlayout/cardlayout.html.twig' %}
<section class="L LW-4 LW--nooverflow js-card-layout-target">

  {% for row in rows %}
    <article {{ row.attributes.addClass('card', 'w') }}>

      <h3 class="card__title card__title--icon card__title--icon-admin-structure-types">
        {{ row.cells.title.content}}
      </h3>
      <p class="card__text">
        {{ row.cells.description.content['#markup']}}
      </p>


      <div class="card__operations L-center">
        {{ row.cells.operations.content }}
      </div>

    </article>
  {% endfor %}
</section>
{% endif %}
