{#
  yet another wrapper for /admin/config + admin/index
  wraps each of the admin-block-content.html.twig
#}
{{ attach_library(active_theme()~'/admin.config') }}
{{ attach_library(active_theme()~'/card') }}

<div class="card w L">
  {# TODO: needs the untranslated string here #}
  <h3 class="card__title card__title--icon card__title--icon-{{ block.title|clean_class }}">{{ block.title }}</h3>

  {% if block.content %}
   {# layout-landing/admin-block-content.html.twig #}
    {{ block.content }}
  {% elseif block.description %}
    <p class="card__text">
      {{ block.description }}
    </p>

  {% endif %}

</div>
