{#
  wrapper for /admin/config
  parts the cards out into 2 columns
  this template is the same patterns as system-admin-index.html.twig
#}
{{ attach_library('eleven/admin.config') }}

{# do we really want this ??
{{ system_compact_link }}
#}
{% include themepath ~ '/templates/component/navigation/cardlayout/cardlayout.html.twig' %}

admin page:
{{ section_title}}
<section{{ attributes.addClass('js-card-layout-target').setAttribute('aria-label', section_title) }}>

  {% for container in containers %}

      {% for block in container.blocks %}
        {# layout-landing/config/admin-block.html.twig #}
        {{ block }}
      {% endfor %}


  {% endfor %}
</section>
