{%
  set classes = [
  ]
%}

<div{{ attributes.addClass(classes).removeAttribute('id') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}

</div>
