{{ attach_library(active_theme()~'/card') }}

{% if rows %}
<section class="L LW-4">

  {% for row in rows %}
    <article {{ row.attributes.addClass('card', 'w') }}>

      <h3 class="card__title card__title--icon card__title--icon-admin-structure-media">{{ row.cells.title.content }}</h3>

      <p class="card__text">
        {{ row.cells.description.content }}
      </p>
      {{ row.cells.operations.content }}
    </article>
  {% endfor %}
{% endif %}
