{{ attach_library('eleven/card') }}

{% if rows %}

{% include themepath ~ '/templates/component/navigation/cardlayout/cardlayout.html.twig' %}
<section{{ attributes.addClass('L','LW-4', 'LW--nooverflow', 'js-card-layout-target') }} aria-label="{{ section_title }}">

  {% for row in rows %}
    <article {{ row.attributes.addClass('card', 'w').setAttribute('aria-label', row.cells.title.content) }}>

      <h3 class="card__title card__title--icon card__title--icon-admin-structure-media-bundle">{{ row.cells.title.content }}</h3>

      <p class="card__text">
        {{ row.cells.description.content }}
      </p>
      {{ row.cells.operations.content }}
    </article>
  {% endfor %}
{% endif %}
