{# eleven.theme eleven_form_node_form_alter() #}

{{ attach_library('eleven/node.edit') }}
{{ attach_library('eleven/nav.tabs.icon') }}

<article class="node-edit">

  <div class="node-edit__main">

    <nav class="node-edit__layout tabs-icon">
      <ul>
        <li>
          <a href="#" class="js-nodeedit-layout" data-layout="node-edit--2col"  data-helptext="{{ 'Layout 2 columns'|t }}">
            <span class="visually-hidden">{{ 'Layout 2 columns'|t }}</span>
          </a>
        </li>
        <li>
          <a href="#" class="js-nodeedit-layout" data-layout="node-edit--full" data-helptext="{{ 'Layout Full width'|t }}">
            <span class="visually-hidden">{{ 'Layout Full width'|t }}</span>
          </a>
        </li>
      </ul>
    </nav>



    {{ form|without('advanced', 'actions', 'meta', 'status') }}

  </div>

  <div class="node-edit__sidebar">

    {{ form.advanced }}

  </div>

  <div class="node-edit__submit">
    {{ form.actions }}
  </div>
</article>
