{#
  path
  node/add
 #}
{{ attach_library('eleven/card') }}


{% if types is not empty %}

{% include active_theme_path() ~ '/templates/component/navigation/cardlayout/cardlayout.html.twig' %}

<section class="L LW-4 LW--nooverflow cards js-card-layout-target">
  {% for type in types %}
    <article class="card w">

      <h3 class="card__title card__title--icon card__title--icon-node">
        {{ type.add_link }}
      </h3>
      <p class="card__text">{{ type.description }}</p>
      <div class="button">
        {{ type.add_link }}
      </div>
    </article>
  {% endfor %}
</section>

{% else %}
  <p>
    {% set create_content = path('node.type_add') %}
    {% trans %}
      You have not created any content types yet. Go to the <a href="{{ create_content }}">content type creation page</a> to add a new content type.
    {% endtrans %}
  </p>
{% endif %}
