{#
fields tables layout

 eleven_theme_suggestions_table_alter()
 #}
{{ attach_library('eleven/card') }}

{% if rows %}

{% include themepath ~ '/templates/component/navigation/cardlayout/cardlayout.html.twig' %}
<section class="L LW-4 LW--nooverflow w-12 js-card-layout-target">

  {% for row in rows %}
  <article {{ row.attributes.addClass('w','card') }}>

    <h3 class="card__title card__title--icon card__title--icon-admin-config-regional-date-time">
      <a href="/{{ row.cells.operations.content['#links'].edit.url.getInternalPath() }}">
        {{ row.cells.label.content}}
      </a>
    </h3>

    <p class="card__text">
      <strong>{{ 'Pattern'|t }}: </strong>       <br>
      {{ row.cells.pattern.content}}
    </p>

    <div class="card__operations L-center">
      {{ row.cells.operations.content }}
    </div>

  </article>
  {% endfor %}
</section>
{% else %}
{{ 'no fields defined'|t }}
{% endif %}
