{%
  set status_classes = [
    'card__status',
    project.status == constant('UPDATE_NOT_SECURE') ? 'card__status--error',
    project.status == constant('UPDATE_REVOKED') ? 'card__status--revoked',
    project.status == constant('UPDATE_NOT_SUPPORTED') ? 'card__status--not-supported',
    project.status == constant('UPDATE_NOT_CURRENT') ? 'card__status--update',
    project.status == constant('UPDATE_CURRENT') ? 'card__status--ok',
  ]
%}

<div{{ status.attributes.addClass(status_classes) }}></div>
  <h3 class="card__title card__title--icon card__title--icon-{{project.project_type}} card__title--icon-{{title|lower}} ">
    {% if url %}
      <a href="{{ url }}">{{ title }}</a>
    {% else %}
      {{ title }}
    {%- endif %}
  </h3>

<div class="card__text">
  <strong>{{ existing_version }}</strong>
  {% if install_type == 'dev' and datestamp %}
    <br>
    ({{ datestamp }})
  {% endif %}

  <br>
  <div class="status">
    {%- if status.label -%}
      {{ status.label }}
    {%- else -%}
      {{ status.reason }}
    {%- endif %}

  </div>

  {% if versions %}
    {% for version in versions %}
      {{ version }}
      <br>
    {% endfor %}
  {% endif %}


  {%
    set extra_classes = [
      project.status == constant('UPDATE_NOT_SECURE') ? 'project-not-secure',
      project.status == constant('UPDATE_REVOKED') ? 'project-revoked',
      project.status == constant('UPDATE_NOT_SUPPORTED') ? 'project-not-supported',
    ]
  %}

  {% if extras %}
    {% for extra in extras %}
      <div{{ extra.attributes.addClass(extra_classes) }}>
        {{ extra.label }}: {{ extra.data }}
      </div>
    {% endfor %}
  {% endif %}


  {% set includes = includes|join(', ') %}
  {% if disabled %}
    {{ 'Includes:'|t }}
    <ul>
      <li>
        {% trans %}
          Enabled: {{ includes|placeholder }}
        {% endtrans %}
      </li>
      <li>
        {% set disabled = disabled|join(', ') %}
        {% trans %}
          Disabled: {{ disabled|placeholder }}
        {% endtrans %}
      </li>
    </ul>
  {% else %}
    {% trans %}
      <strong>Includes:</strong> {{ includes|placeholder }}
    {% endtrans %}
  {% endif %}

</div>
